body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}
.header {
  background-color: #004466;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.search-box input {
  padding: 6px;
  border-radius: 5px;
}
